* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero-section {
  background: #f0fff0;
}

.navbar-brand {
  color: rgba(0, 0, 0, 0.9);
  margin-right: 20%;
  /* background: #f0fff0; */
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.55);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.nav-item:hover .nav-link {
  color: #3804f3;
  font-weight: 900;
}
.SignIn-item {
  /* padding: 10px 20px; */
}

.SignIn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background: #21b573;
  border-radius: 33px;
  padding: 10px 20px;
  margin-top: -10px;
}
.SignIn a {
  margin-top: 0px;
  color: #fff !important;
}

.hero-section .container {
  padding-bottom: 50px;
}

/* hero-content  */
.hero-content {
  margin-top: 75px;
}
.hero-content h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fd511a;
}

.hero-content h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 70px;
  color: #000000;
}
.hero-content h1 span {
  color: #21b472;
}
.hero-content p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 1px;
  /* or 225% */

  color: black;
  margin: 30px 0px;
}
.hero-content a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background: #21b573;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 33px;
  padding: 10px 30px;
  text-decoration: none;
}
